.articles{
	text-align: center;
	padding-top: 30px;

}

.article__title{
	font-size: 30px;
	text-align: center;
	color: #333;
	border-bottom: 3px solid #CE1212;
	display: inline;
}

.articles__items{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 40px;
	cursor: pointer;
}

.article{
	width: 25%;
	height: 250px;
	background: red;
	border-radius: 15px;
	position: relative;
	overflow: hidden;
	padding: 20px;
	text-decoration: none;
}

.article__filter{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1));
}

.article__name{
	color: #fff;
	z-index: 1;
	position: relative;
	text-align: left;
	font-size: 12px;
	line-height: 28px;
	font-size: 18px;
}



.article__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.4);
	z-index: 999;
	color: #fff;
	display: flex;
	font-family: 'Nunito';
	font-size: 18px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.5s;
}

.article__overlay:hover{
	opacity: 1;
}













