.header {
	height: 450px;
	width: 100%;
	background: red;
}


.header__navbar {
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}